/*color scheme*/
/*
-main
#ACC491
#DEF7C3

-lighter
#eef9d5

-blue
#005B69
*/
#ag_main_menu {
	display:block;
	height:35px;
	border-bottom:3px solid #ACC491;	
	margin-top:2px;
}
.ag_section h2, .ag_section h3{
	color:#005B69;
}
#ag_main_menu li{
	display:block;
	background-color:#DEF7C3;
	float:left;
	color:#0B6138;
	padding:15px;
	padding-top:8px;
	padding-bottom:8px;
	font-weight:bold;
	border-bottom:3px solid #ACC491;
}
#ag_main_menu li.selected{
	border:3px solid #ACC491;
	border-bottom:none ;
	background-color:#F9F9F9;
	cursor:default;
}
#ag_main_menu li.normal:hover{
	background-color:#eef9d5;
	cursor:pointer;
}
#ag_main_menu li a{
	text-decoration:none;
	color: #888888;
}
.ag_table_heading{
	background-color:#DEF7C3;
	display:block;
	height:25px;
	padding:5px;
	padding-top:0px;
	padding-bottom:1px;
	margin-top:50px;		
	margin-left:-10px;
	margin-right:-10px;
}
.ag_table_major_options{
	background-color:#ddd;
	width:500px;
}

div#AGToolTipDiv {
  position: absolute;
  top: 100px;
  left: 200px;
  height: auto;
  border: 1px solid #FFFF00;
  background-color: #FFFFD4;
  display: none;
  padding: 3px;
  padding-top: 7px;
  padding-bottom: 5px;
}
td.ag_admin_menu_parent{
	font-size:16px;
	font-weight:bold;		
}
td.ag_admin_menu_parent:hover{
	background-color:#ddd;	
}
#ag_edit_adminmenu tr{
	margin:0;
	padding:0;
	background-color:#E8FAE8;	
}
#ag_edit_adminmenu td.ag_admin_menu_child {
	margin:0;
	padding:15px;
	padding-top:0;
	padding-bottom:0;		
}
#ag_edit_adminmenu th h2{
	color:#fff;
}
#ag_edit_adminmenu a{
	text-decoration:none;
	color:#444;
}
.noclass{
	display:none;
}
#agca_footer_support_info{
	font-size:12px;
	font-weight:bold;
	background:#acc491;
	color:#ffffff;
	border:none;
	padding:20px;
}
#agca_footer_support_info a{
	color:#005b69;
	text-decoration:none;
	font-size:18px;
}
#agca_news{
	 height:50px;
	 margin-top:-35px;
	 color:#ACC491;
}
#agca_news a{
	 color:#ACC491;
}
#agca_advertising{
    display:block;
    width:900px;
    height: 100px;
    /*background-color: #cccccc;*/   
    padding: 0;
    margin: 0;
}
#agca_advertising ul{
    padding: 0;
    margin: 0;
    padding-right:5px;
}
#agca_advertising > ul > li{
    float:left;
    margin-right: 6px;
    cursor: pointer;
}
#agca_form{
    min-width: 835px;/*used for agca menu lineup*/
}
#agca_form .section_title{
	font-weight:bold;
	background: #def7c3;
    border-bottom-right-radius: 15px;
    color: #acc491;
    float: left;
    font-size: 40px;
    padding: 20px 11px;
    position: relative;   
    text-decoration: none;
    text-shadow: none;
    width: 50%;
}
#agca_form h2.section_title{
	
}
#agca_form  h2.section_title{
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 45px;
    line-height: 1em;
}
#agca_form h2.section_title {
    /* Shadows are visible under slightly transparent text color */
    color: rgba(189, 193, 172, 0.71);
    text-shadow: 1px 4px 6px #def7c3, 0 0 0 #000, 1px 4px 6px #def7c3;
}
/* Don't show shadows when selecting text */
#agca_form h2.section_title::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
#agca_form h2.section_title::selection { background: #5af; color: #fff; text-shadow: none; }


#agca_form  #templates_head_buttons input[type=button]{
	background:#174F69;
	color:white;
	font-weight:bold;
}
#agca_form  #templates_head_buttons input[type=button]:hover{
	background:white;
	color:#174F69;	
}

.ag-custom-button{
    
   /* margin-bottom:-4px !important;*/
}
#sidebar_adminmenu_logo{ 
    margin-bottom: -33px;
    min-height: 28px;
    cursor: pointer;
}

.agcaMenuEditorPlusMinus .plus{ 
   padding-right: 4px; 
}
.agcaMenuEditorPlusMinus .minus{ 
    padding-right: 9px;
    display: none;
}

.agcaMenuEditorPlusMinus{    
    cursor: default;
    width:10px;
}

#export_settings_additional{
    float: left;
    margin-top:3px;
    width: 229px;
}
/*#agca_form input.agca_button,#agca_form #ag_add_adminmenu button{
    padding: 3px 10px;
    background-color:#ffffff;
}    */
#agca_form input[type=button],button{    
	background-color: #ACC491;
    border: 1px solid #ACC491;
	border-radius: 3px;
    color: #FFFFFF;
    padding: 5px 10px;
}
#agca_form input[type=button]:hover{
    background-color:#DEF7C3;
	border: 1px solid #DEF7C3;	
    color:#444;
    cursor:pointer;
}
#agca_form input[type=text]{
    height:28px;
    width:400px; 
}
#agca_form input.color_picker{   
    width:77px; 
}
#agca_form input[type=text]:hover{
    background-color: #efffef;
}
#agca_form textarea{
    width:400px;    
}
#agca_form textarea.wp-editor-area{
    width:100%;    
}
#agca_form textarea:hover{
    background-color: #efffef;    
}
#agca_form #ag_edit_adminmenu input[type=text]:hover{
    background-color: #444444;
    color:#ffffff;
}
#agca_form #ag_add_adminmenu input[type=text]{
    width:300px;
}
#agca_form input#save_plugin_settings{
	background: none repeat scroll 0 0 #acc491;
    font-weight: bold;
    height: 39px;
    padding: 4px;
    width: 130px;
	border:1px solid #acc491 !important;
	text-shadow: none !important;
	box-shadow: none !important;
	font-size:16px;
}
#agca_form input#save_plugin_settings:hover{
	background-color:#DEF7C3 !important;
	color:#005B69 !important;
}
#agca_form input#save_plugin_settings[type="button"]:hover{
	background-color:#ffffff;
	color:#ffffff;
}

/*editor style fix*/
#agca_form .agca_editor input[type="button"], button{
	color: black;
}

#agca_form .agca_editor textarea{
	width: 100%;
}
.agca_editor{
	width:600px;
}

/*templates*/
#agca_templates .error{
	padding:8px;
	font-size: 14px;
}

.agca_template{
	display:block;
	float:left;
	border:3px solid #aaa;
	margin:10px;
	margin-top:15px;
	cursor:pointer;
}
.agca_template:hover{
	border:3px solid green;
}
.agca_template h3{	
	text-align: center;
	color:green;
}
.agca_template h3 span{	
	color:#555;
	font-size:16px;
}
.agca_template img{
	width:250px;
}

#advanced_template_options {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 2px solid green;
    display: block;
    height: 100%;
    margin-top: 200px;
    width: 500px;
	padding:15px;
	display:none;
}
#advanced_template_options a{
	font-size:14px;
	font-weight: bold;
	text-decoration:none;
}
#advanced_template_options a:hover{
	text-decoration:underline;
}
#advanced_template_options h4 {
    background: none repeat scroll 0 0 green;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: bold;
    margin-top: 0;
    padding: 10px;
}
.agca_logout_button{
	background: none repeat scroll 0 0 #dddddd;
    float: right;
    font-size: 15px;
    font-weight: bold;
    margin-right: 20px;
    padding: 10px;
    text-decoration: none;
    border-radius: 0 0 3px 3px;
    border: 1px solid #BBBBBB;
    border-top: none;   
    margin-left: 6px;
    margin-right: 20px;
    padding: 6px 10px;
}
#ag_add_adminmenu button{
	border: medium none;
    border-radius: 4px;
    color: #FFFFFF;
    padding: 6px 9px;
}
.wp-admin.folded #sidebar_adminmenu_logo{
    display:none;
}
.agca-selectbox{
	width:405px;
	padding:4px !important;
	height:28px !important;	
}
.agca-selectbox:hover{
	background-color:#efffef;
}

#agca_form .agca-checkbox-box{

	background:url(../images/checkbox_unchecked.png);
	cursor:pointer;
	display: block;
	width: 28px;
    height: 28px;
	position:relative;
	float:left;
}
#agca_form .agca-checkbox-box-checked{

	background:url(../images/checkbox_checked.png);
	cursor:pointer;
	display: block;
	width: 28px;
    height: 28px;
	position:relative;
	float:left;
}
#agca_form .agca-checkbox-box-checked:hover, #agca_form .agca-checkbox-box:hover{
	background:url(../images/checkbox_over.png);
}

#agca_form label{
	font-size:15px;
	color:#777777;
}
#agca_form .form-table th{
	width:350px;
}
.ag_admin_menu_parent  .agca-checkbox-box-checked, .ag_admin_menu_parent  .agca-checkbox-box{
	margin-top:-15px;
}
#agca_form  input[type=radio]{
	display:block;
	float:left;
}
#agca_form  .agca-radiobox{
	background:url(../images/radio-gray.png);
	cursor:pointer;
	display: block;
	width: 28px;
    height: 28px;
	position:relative;
	float:left;
}
#agca_form .agca-radio-text{
	display: block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin: 4px 10px 4px 4px;
}
#agca_form  .agca-radiobox.checked[value=on]{
	background:url(../images/radio-on.png);	
}
#agca_form  .agca-radiobox.checked[value=off]{
	background:url(../images/radio-off.png);
}
#agca_form #section_templates{
    background: rgba(255, 255, 255, 0.95)
}
#wp-admin-bar-agca-admin-themes a{
	color:  #def7c3 !important;
}
#wp-admin-bar-agca-admin-themes .ab-icon:before {
    font-family: "dashicons";
    content: "\f100";
	margin-top: 2px;
	display: block;
	color:  #eef9d5 !important;
}
